// Light Theme
.theme1 {
  // Background Colors
  --b1: #{$color-white};
  --b2: #{$color-honey};

  // Text Colors
  --t1: #{$color-black}; // Primary Text Color
  --t2: #{$color-white}; // Invert Text Color
  --t3: #767676; // Light Contrast Text Color
  --t4: #{$color-white}; // General Color, mainly texts, used over primary gradient

  // Border Colors
  --br1: #{$border-color-lightGray};
  --br2: #{$border-color-dark};
  --br3: #{$border-color-transparent}; // Borders
  --br4: #{$border-color-transparent}; // Not used, placehodler for future expansion

  // Icons
  --i1: #{$icon-color-dark}; // Primary icon color

  // Shadows
  --s1: #{$shadow-color-light}; // Primary shadow color

  // Tints
  --tint: #{$tint-color-light}; // Primary tinted color
}

// Dark Theme
.theme2 {
  --b1: #{$color-black};
  --b2: #{$color-honey};

  --t1: #{$color-white};
  --t2: #{$color-black};
  --t3: #929292;
  --t4: #{$color-white}; // Gradient Text Color

  --br1: #{$border-color-dark};
  --br2: #{$border-color-lightGray};
  --br3: #{$border-color-transparent};
  --br4: #{$border-color-transparent};

  --i1: #{$icon-color-light};

  --s1: #{$shadow-color-dark};

  --tint: #{$tint-color-dark};
}
